body{
  background-color: yellow;
}

img{
  height: 30%;
  width: 30%;
}
.section2{
  font-size: 1rem;
  color: blue;
  background-color: white;
  margin-bottom: 15px;
  border: 2px black dotted;
}
.section1{
  font-size: 2.2rem;
  color: red;
}
